

body {
    

    
}
Span{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;

}
mat-toolbar{
  background-color: darkred;
  width:100%;
  font-color: white;
}

mat-icon{
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card{
    margin-top: 4px;
    padding-bottom: 50px;
    border-color: black;
    
    
}
button{
 background-color: darkred;
  
}
.example-header-image { 
  background-size: cover;
}

.title{
    font-weight: bold;
}

.img-article{
    height:350px;
    width:350px;
}

.action-buttons{
    text-align: center;
    color: darkred
}

.example-container {
    width: auto;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
img{
padding: 10px;
margin-left:5px;
}


.source-name {
    margin-left:5px; 
}

.list-item:hover{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}
